<ActionBar title="My App" class="action-bar" flat="true">
</ActionBar>
<StackLayout class="p-20">   
  <Label text="Test23" class="h1 text-center c-white"></Label>
  <Image src="~/assets/images/nx-nativescript.png" class="h-center m-t-20" width="300"></Image>
  <TextField
  >
  </TextField>
  <TextView
  >
  </TextView>  
  <PickerField 
    hint="Click here" 
    class="picker-field" 
    padding="10" 
    textField="name" 
    [pickerTitle]="'Select item from list'" 
    iOSCloseButtonIcon="14" iOSCloseButtonPosition="left" androidCloseButtonPosition="navigationButton" androidCloseButtonIcon="ic_menu_back" [items]="[{name:'tests'}]">
    <ng-template let-item="item">
      <GridLayout columns="auto, *" rows="auto, *">
        <Label text="Static text:" col="0" class="item-template-top-label"></Label>
        <Label [text]="item.name" col="0" row="1" class="item-template-label red-label" marginBottom="20"></Label>
      </GridLayout>
    </ng-template>
  </PickerField>      
</StackLayout>