.picker-field {
    placeholder-color: #fff;
    color: #fff;
    font-size: 24;
}

PickerPage ActionBar {
    color: rgb(31, 191, 16);
}

PickerPage .picker-list {
    color: purple;
    padding: 10;
    font-size: 15;
}